version: '3.7'
services:
  postgres:
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: turtle
      POSTGRES_PASSWORD: turtle
      POSTGRES_DB: turtle_db
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
  redis_data:
